body {
    margin: 9px;
}
header h1{
    font-size:220%;
    text-align:center;
}
article h3 {
    font-size: 170%;
    text-align: center;
}

.holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.holder-cell {
    margin-bottom: auto;
    text-align:center;
    width:450px;
}
.holder-cell img{
    text-align:center;
}
article table {
    font-size: 120%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0),rgba(255,255,255,0.1),rgba(255,255,255,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right, rgba(255,255,255,0),rgba(255,255,255,0.1),rgba(255,255,255,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, rgba(255,255,255,0),rgba(255,255,255,0.1),rgba(255,255,255,0)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.1),rgba(255,255,255,0)); /*Standard*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-style: solid;
    border-width: 0.1em;
    padding: 0.5em;
    border-collapse: separate;
    border-spacing: 0.5em;
}

article .clickable {
    cursor:pointer;
}
article table {
    height:250px;
}
article table tr {
    width:150px;
}
article table tr td {
    vertical-align:top;
    text-align:left;
}
.ellipsis {
    text-align:right;
}
